
.header{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    box-shadow: 1px 4px 26px lavender;
    .header-search{
        display: flex;
        align-items: center;
        position: relative;
        label{
            position: absolute;
            top: 50%;
            left: 2%;
            transform: translateY(-50%);
            transition: all 0.2s linear;
            color: rgb(79, 79, 79);
            font-weight: 600;
            background-color: white;
            padding: 0 4px;
        }
        input{
            font-family: 'Anek Telugu', sans-serif;
            font-weight: 600;
            margin-right: 20px;
            height: 40px;
            width: 250px;
            font-size: 15px;
            caret-color: red;
            padding: 0 8px;
            color: #135f00;
            &:focus ~ label{
                transform: translateY(-160%);
                font-size: 12px;


            }
        }
        i{
            font-size: 22px;
            color: #30297c;
        }
    }
    .header-logo{
       
        // background-color: red;
        img{
            object-fit: contain;
            width: 400px;
            height: 200px;
            
        }
    }
}